@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  background-attachment: fixed;
}
.container{
  /* max-width: 1440; */
  margin: 100px ;
  display: flex;
  justify-content: center;
}
.box-1{
width: 40%;
color: white;
margin-right: 30px;
padding: 100px;

}
h1{
  font-weight: 700;
  font-size: 30px;
}
box-2{

}
p{
  font-size: 16px;
}
.thead{
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  color: white;
  padding: 7px 30px;
  border: none;
  border-radius: 5px;
  box-shadow:-1px 4px 7px black;
  box-shadow: ;
  margin-bottom: 10px;
}
#trial{
  
}
.form{
  background-color: white;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}
.form input{
  padding-right: 60%;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 5px;
}
.form input:hover{
  border: 1px solid rgb(0, 0, 0);
}
.form a{
  padding-right: 60%;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}
.form a input{
  padding-right: 60%;
  background: hsl(154, 59%, 51%);
  text-align: center;
  color: white;
}
/* .form a:hover input{
  cursor: pointer;
} */
.form p{
  text-align: center;
  padding-right: 60%;
  margin-bottom: 10px;
  ba
  
}





@media {(max-width: 900px;)
  body{
    background-image: url(./images/bg-intro-mobile.png);
  }

}